---
layout: default
permalink: /process
---

<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Process</h2>
			</div>
		</div>
	</div>
</section>

<section id="content">
<!-- Info Blcoks -->
{% for lrow in site.data.process %}
  <div class="row">
    {% for litem in lrow.items %}
    <div class="col-sm-4 info-blocks">
      <i class="icon-info-blocks fa {litem.icon}"></i>
      <div class="info-blocks-in">
        <h3>{litem.title}</h3>
        <p>{litem.description}</p>
      </div>
    </div>
  </div>
{% endfor %}
<!-- End Info Blcoks -->
</section>