---
layout: default
---

<!-- Slides -->
<section id="featured">
	<!-- Slider -->
  <div id="main-slider" class="flexslider">
    <ul class="slides">
      {% for litem in site.data.slide %}
        <li>
          <img src="{{litem.image}}" alt="" width="col-md-12" height="520"/>
          <div class="flex-caption">
            <h3>{{litem.title}}</h3>
            <p>{{litem.description}}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
	<!-- end slider -->
</section>

<!-- About Me -->
<section class="callaction">
	<div class="container">
		<div class="row">
      <div class="col-md-5">
        <img src="img/romana_1.jpeg" alt="" width="col-md-5" height="464"/> <!-- CHANGE PICTURE LOCATION HERE-->
      </div>
			<div class="col-md-4">
				<div><h1><span><span class="blue_text"> Romana Yáñez </span></span></h1><span class="clear spacer_responsive_hide_mobile " style="height:13px;display:block;"></span>
          <p>I am a citizen of the world passionate about transforming complex topics into simple and appealing visuals to facilitate the transmission of scientific knowledge.</p>
          <p>I have vast experience in illustration, graphic design and science communication beyond my training in molecular and cell biology.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Services -->
<section id="content">
	<div class="container">
	  <div class="row">
      <div class="block-heading-two">
        <h3><span>Services</span></h3>
      </div>		
			<!-- Accordion starts -->
			<div class="panel-group" id="accordion-alt3">
			<!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
      {% for litem in site.data.services %}
        <div class="panel">
          <!-- Panel heading -->
           <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion-alt3" href="#{{litem.idname}}">
                <i class="fa fa-angle-right"></i> {{litem.title}}
              </a>
            </h4>
           </div>
           <div id="{{litem.idname}}" class="panel-collapse collapse">
            <!-- Panel body -->
            <div class="panel-body">
              {{litem.description}}
              <img src="{{litem.imgone}}" alt="" width="414" height="284">
              <img src="{{litem.imgtwo}}" alt="" width="414" height="284">
            </div> 
           </div>
        </div>
      {% endfor %}
			<!-- Accordion ends -->
		</div>
	</div>
</section>