<footer>
	<div class="container">
    <div class="testimonial-solid">
      <p>Illustrating science one concept at a time.</p>
    </div>

		<div class="row">


			<div class="col-lg-6">
				<div class="widget">
					<h5 class="widgetheading">Get in touch:</h5>
					<p>
						<i class="icon-envelope-alt"></i> romanayanez.design@gmail.com
					</p>
				</div>
			</div>
			
      <div class="col-lg-6">
				<div class="widget">
					<h5 class="widgetheading">Follow the work on</h5>
					<ul class="link-list">
						<li><a href="https://www.instagram.com/_by_romana_yanez" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a></li>
						<li><a href="https://www.linkedin.com/in/romanayanez/" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="https://linktr.ee/romanayanez" data-placement="top" title="LinkTree"><i class="fa fa-link"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy;  All right reserved. By </span><a href="http://webthemez.com" target="_blank">WebThemez</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>