<footer>
	<!-- Content -->
	<div class="container">
		
		<!-- Impact Phrase -->
		<div class="testimonial-solid">
			<p>Illustrating science one concept at a time</p>
		</div>
		
		<!-- Break into columns -->
		<div class="row">
			
			<!-- Contact Info Column -->
			<div class="col-lg-6">
				<div class="widget">
					<h5 class="widgetheading">Get in touch:</h5>
					<p>
						<i class="icon-envelope-alt"></i> romanayanez.design@gmail.com
					</p>
				</div>
			</div>
			
			<!-- Social Media Column -->
			<div class="col-lg-6">
				<div class="widget">
					<h5 class="widgetheading">Follow the work on</h5>
					<p>
						<a href="https://www.instagram.com/_by_romana_yanez" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
						<a href="https://www.linkedin.com/in/romanayanez/" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
						<a href="https://linktr.ee/romanayanez" data-placement="top" title="LinkTree"><i class="fa fa-link"></i></a>
					</p>
				</div>
			</div>

		</div>

	</div>

	<!-- Copyright Notice -->
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy;  All right reserved. Website template by </span><a href="http://webthemez.com" target="_blank">WebThemez</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</footer>